[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "oakutils"
version = "0.0.3"
authors = [
  {name="Justin Davis", email="davisjustin302@gmail.com"},
]
maintainers = [
  {name="Justin Davis", email="davisjustin302@gmail.com"},
]
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS",
    "Natural Language :: English",
    "Topic :: System :: Hardware",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Education",
    "Intended Audience :: Information Technology",
    "Typing :: Typed",
]
requires-python=">=3.8"
dependencies = [
    "depthai>=2.20",
    "numpy>=1.20",
    "open3d>=0.16",
    "opencv-python>=4.5",
]

[project.urls]
"Homepage" = "https://github.com/justincdavis/oakutils"
"Bug Tracker" = "https://github.com/justincdavis/oakutils/issues"

[project.optional-dependencies]
dev = [
    "black",
    "pylint",
    "mypy",
    "twine",
    "wheel",
    "bumpver",
    "kornia",
    "torch",
    "sphinx",
    "sphinx-rtd-theme",
]

[tool.bumpver]
current_version = "0.0.3"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message  = "Bump version {old_version} -> {new_version}"
commit          = true
tag             = true
push            = false

[tool.bumpver.file_patterns]
"pyproject.toml" = ['current_version = "{version}"', 'version = "{version}"']
"src/oakutils/__init__.py" = ["{version}"]
"docs/conf.py" = ["{version}"]

